body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    border: 2px solid red;
    margin-top: 2px;
    cursor: pointer;
    text-align: center;
}